// TODO: double-check if all the CSS is necessary

.btn-primary {
    background-color: $primary_color;
    border: $primary_color;
    padding: 10px 20px;
    margin: 20px;
    &:hover,
    :active,
    :focus {
        background-color: lighten($primary_color, 10%);
        border: lighten($primary_color, 10%);
    }
}
