header {
    background-color: #3c0080;

    .logout {
        background-color: #ffbb00;
        border: 1px solid #ffbb00;
        border-radius: 5px;
        padding: 0.25rem 1rem;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
        color: #2c2922;
        text-decoration: none;

        &:hover {
            background-color: #ffa600;
            border-color: #ffa600;
        }

        &:active {
            background-color: #ffa600;
            border-color: #ffa600;
        }
    }
}
